<!DOCTYPE html>
<html>
<head>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <style>
        html {
            height: 100%
        }

        body {
            height: 100%;
            background: #696969;
        }

        #map-container {
            height: 500px;
            width: 100%;
        }

        @media all and (max-width: 768px) {
            #map-outer {
                height: 650px
            }
        }
    </style>

    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFGo-YK7nafcmjuljLEwPy7r0Eu5iFf1E">
    </script>
    <script src="../static/map.js"></script>
    <script>
        initialize();
    </script>

</head>
<body>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-2">
            <img src="../static/bb.png" class="img-responsive"/>
        </div>
        <div class="col-md-8">
            <img src="../static/banner1.png" width="40%" class="center-block img-responsive"/>
            <input data-bind="value: newTaskTitle" placeholder="Enter Zipcode!" class="center-block"/>
            <button onclick="addMarker()" type="button" class="btn btn-md btn-primary center-block">Click Me for a place to Poop!</button>
        </div>
        <div class="col-md-2">
            <img src="../static/bb.png" class="img-responsive"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" id="map-container"></div>
    </div>
</div>
</body>
</html>